.section1FormCursos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: auto;
    width: auto;
}


.conatinerFormCursos {
    border: solid 2px #ffff;
    border-radius: 9px;
    background: #ffff;
    align-items: center;
    width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cadastroFormularioCursos {
    margin: 10px;
    padding: 10px;

}

.divComboCurso {
    display: flex;
    width: 100%;
    max-width: 900px;
    height: auto;
    flex-direction: column;
    align-items: normal;
    gap: 2px;
    border-radius: 9px;
    margin-top: 10px;
}

.btnSubmitFormCursos {
    margin-top: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-color: #BFB47A;
    border-radius: 4px;
    border: 1px solid transparent;
    color: #ffff;
    width: 100%;
    /* Modificado para ocupar 100% da largura */
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    padding: 10px;
}

.containerTabelaCursos{
    display: grid;
    justify-content: start;
    row-gap: 30px;
    color: azure ;
}

.btnEditarCurso,
.btnCancelarEdicaoCurso{
    margin: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-color: #BFB47A;
    border-radius: 4px;
    border: 1px solid transparent;
    color: #ffff;
    width: 47%;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    padding: 10px;
}





.section1FormCursos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: auto;
    width: auto;
}

.conatinerFormCursos {
    border: solid 2px #ffff;
    border-radius: 9px;
    background: #ffff;
    align-items: center;
    width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.divComboCurso {
    display: flex;
    width: 100%;
    max-width: 900px;
    height: auto;
    flex-direction: column;
    align-items: normal;
    gap: 2px;
    border-radius: 9px;
    margin-top: 10px;
}

.btnSubmitFormCursos,
.btnEditarCurso,
.btnCancelarEdicaoCurso {
    margin-top: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-color: #BFB47A;
    border-radius: 4px;
    border: 1px solid transparent;
    color: #ffff;
    width: 100%;
    /* Modificado para ocupar 100% da largura */
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    padding: 10px;
}

.containerTabelaCursos {
    display: grid;
    justify-content: start;
    row-gap: 30px;
    color: azure;
}

@media only screen and (max-width: 768px) {
    .conatinerFormCursos {
        width: 90%; /* Adjust the width for smaller screens */
    }

    .divComboCurso,
    .btnSubmitFormCursos,
    .btnEditarCurso,
    .btnCancelarEdicaoCurso {
        width: 100%; /* Make these elements take the full width on smaller screens */
    }
}
.btnTabela{
    background-color: #8C8665;
    border: none;
    color: #ffff;
    font-size: 15px;
}