.navbar {
    box-sizing: border-box;
    background: #262014;
    display: flex;
    height: 64px;
    padding: 1ren;
    align-items: center;
    justify-content: space-between;
}

.div-logo {
    display: flex;
    width: 50%;
    padding-left: 100px;
}

.logo-titulo {
    width: 60%;
    margin-top: 1px;
    margin-left: 3px;
    font-family: sans-serif;
    font-size: 30px;
    letter-spacing: -1px;
    display: flex;
    align-items: center;
}
.divcontainertitulo{
    display: flex;
    align-items: center;
}
.logo{
    fill: #c0ae55ef;
    width: 50px;
    height: auto;
}
.Ensala {
    background: linear-gradient(45deg, #F2F1DF,#F2F1DF);
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: none;
    font-weight: bold;
}

.Ensala:hover {
    background: none;
    color: #F2F1DF;
}

.mento {
    background: linear-gradient(45deg, #F2F1DF, #BFB47A);
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: none;
}

.mento:hover,
.Ensala:hover {
    background: none;
    color: #c0ae55ef;
}

.Ensala,
.mento{
    animation: gradientAnimation ease-in-out 1.0s;
    transition: all ease-in-out 0.5s;
}

@keyframes gradientAnimation {
    from {
        background: linear-gradient(45deg, #F2F1DF, #bbaf72);
        -webkit-background-clip: text;
        color: transparent;
        transition: 1s;
    }

    to {
        color: #c0ae55ef;
    }
}
.Links{
    text-decoration: none;
}


.btnMobile {
    background: none repeat;
    border: none;
    width: 50px;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: 30px;
}

.btnMobile:hover {
    cursor: pointer;
}
.btnMobile img {

    width: 30px;
    height: auto;
}


@media (max-width: 900px) {
    .btnMobile {
        display: block;
        margin-right: 10px;
        width: 30px;
        height: auto;
    }

    .divbutton-nav-menu,
    .divbutton2-nav-menu {
        width: auto;
        margin: 0 5px;
    }

    .divbutton-nav-menu p,
    .divbutton2-nav-menu p {
        line-height: initial;
    }

    .divbutton2-nav-menu img {
        margin-top: 0;
    }

    .div-logo {
        padding-left: 0px;
    }
}